<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1>Desafío clase 10 - Motores de plantilla</h1>
        <hr>        
        
        <table border="3">
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Thumbnail</th>
            </tr>

            <tr>
                <td>{{nuevoArray.title}}</td>
                <td>{{nuevoArray.price}}</td>
                <td><img src="{{nuevoArray.thumbnail}}" alt="paleta" width="80"></td>
            </tr>
            {{!-- <tr>
                <td>Paleta</td>
                <td>4eu</td>
                <td><img src="https://cdn3.iconfinder.com/data/icons/education-209/64/paint-color-pallete-brush-academy-512.png" alt="paleta" width="80"></td>
            </tr> --}}
            
            {{!-- {{#arrayProd.forEach(producto => { }} --}}
            {{!-- {{#each arrayProd}} --}}
            {{#each arrayProd}}
                <tr>
                    <td>{{arrayProd.title}}</td>
                    <td>{{arrayProd.price}}</td>
                    <td><img src="{{arrayProd.thumbnail}}" alt="paleta" width="80"></td>
                </tr>
            {{/each }}
            {{!-- {{/each}} --}}
            
        </table>

        <div class="d-grid gap-2">
            <a class="btn btn-primary" href="/" role="button">Volver</a>
        </div>

    </div>

</body>
</html>